<p>
  Contest this point:
</p>
<%= form_for([@debate, @debate.contests.build]) do |f| %>
<div class="field">
  <%= f.text_area :body %>
</div>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>
