p
{
    text-indent:30pt;
}

h1
{
    text-align:center;
}

.border
{
    border:1px solid white;
}

.point
{
    margin:5px;
    width:195px;
    height:175px;
    text-align:left;
}

.supporting
{
    background-color:#4D94FF;
}

.refuting
{
    background-color:#FF944D;
}

.blank
{
    background-color:yellow;
}


#wrap
{
    width: 1000px;
    margin: 0 auto;
}

.left
{
    float: left;
    width: 500px;
}

.leftPoints
{
    float: right;
    text-align: right;
    margin: 5px;
}

.right
{
    float: left;
    width: 500 px;
}

.rightPoints
{
    float: left;
    text-align: left;
    margin: 5px;
}

#footer
{
    clear: both;
    margin: 0 auto;
    text-align:center;
}

#parents
{
    width: 500px;
    margin: 0 auto;
}

#debateHead
{
    text-align: center;
    font-size: 18px;
}