<% if debate.debate == nil then %>
  <p>
    <b>Proposition:</b>
    <%= debate.proposition %>
  </p>
  <p>
    <b>Content:</b>
    <%= debate.content %>
  </p>
<% else %>
  <%= render :partial => "parent_chain", :locals => { :debate => debate.debate } %>
  <p>
    <b>Content:</b>
    <%= debate.content %>
  </p>
<% end %>

  
    

