<table>
  <tr>
    <%= render :partial => "point", 
               :collection => points_to_render, 
               :as => :point %>
    <td>
      <%= render :partial => "response_form", :locals => { :is_supporting => is_supporting }%>
    </td>
  </tr>
</table>
