<td <%= point.generate_style %> 
onmouseover="addBorder(this);this.style.cursor='pointer'" 
onmouseout="removeBorder(this)"
onclick="window.location='<%= url_for(debate_path(point)) %>'">
  <div class="point">
    <%= point.content %>
  </div>
</td>
