<div id="wrap">
  <h1>Debate.me!</h1>
  <p>
    Debate.me is a website that allows you to have with your friends. Unlike traditional debates, 
    each point can have many other points supporting or contesting it, each of which can also have 
    many points supporting or contesting it. Instead of following a linear, back and forth path,
    the debate can be more like a tree, with with each topic branching off into many new topics.
  </p>
  <p>
    To start debating, choose one of the debates below, or create a new debate.
  </p>
  
  <b>Ongoing debates:</b>
  <table>
    <% @debates.find_all{|debate| debate.debate == nil}.each do |debate| %>
    <tr>
      <td <%= debate.generate_style %> ><%= link_to debate.proposition, debate %></td>
    </tr>
    <% end %>
  </table>

  <br />

  <%= link_to 'New Debate', new_debate_path %>
</div>
