<h1>Wolcome to Debate.me!</h1>

<p>
  Debate.me is a site that lets you debate your friends. You can easily cite sources, and refute or support
  specific points that your opponent has made.
</p>

<h2>Current Public Debates</h2>

<% @debates.each do |debate| %>
  <p>
    <%= link_to debate.proposition, debate %><br />
  </p>
<% end %>

<br />

<%= link_to 'Create a public debate', new_debate_path %>
