
<div id="wrap">
  <h1>DebateWithMe!</h1>
  <p>
    DebateWithMe is a website that allows you to have tree-like debates with your friends. Unlike traditional debates, 
    each point can have many other points supporting or contesting it, each of which can also have 
    many points supporting or contesting it. Instead of following a linear, back and forth path,
    the debate can flow more like a tree, with with each topic branching off into many new topics.
  </p>
  <p>
    To start debating, choose one of the debates below, or create a new debate.
  </p>
  
  <b>Ongoing debates:</b>
  <table>
    <% @debates.find_all{|debate| debate.debate == nil}.sort_by{|debate| debate.created_at}.reverse.each do |debate| %>
    <tr>
      <td class="border" <%= debate.generate_style %> 
	  onmouseover="addBorder(this);this.style.cursor='pointer'"
	  onmouseout="removeBorder(this)"
	  onclick="window.location='<%= url_for(debate) %>'">
	<%= debate.proposition %>
      </td>
    </tr>
    <% end %>
  </table>

  <br />
  <div id="NewDebateButton"><%= render "form" %></div>
  <script type="text/javascript">
    var new_debate_form_html = document.getElementById("NewDebateButton").innerHTML;
    FB.Event.subscribe('auth.sessionChange', function(response) 
    {
      if (response.session) {
        document.getElementById("NewDebateButton").innerHTML = new_debate_form_html;
      } 
      else 
      {
        document.getElementById("NewDebateButton").innerHTML = "Login to create a debate";
      }
    });
  </script>
</div>
